@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* Font */
$font-family: 'Montserrat', sans-serif;
$font-family__2: 'Roboto', sans-serif;

/* Color */
$cl-black: #000000;
$cl-white: #ffffff;
$cl-eb: #EBEBEB;
$cl-blue-dark: #065c91;
$cl-blue: #0e6ab0;
$cl-blue--2: #005eab;
$cl-blue--3: #005493;
$cl-red: #BF360C;
$cl-orange: #f07126;
$cl-bd: #BDBDBD;
$cl-org_2: #FF7710;
$cl-org-light: #f99a63;
$cl-f5: #f5f5f5;
$cl-d6: #d6d6d6;
$cl-red-f: #F05050;
$cl-green: #018101;
$cl-15: #151515;
$cl-d8: #d8d8d8;
$cl-e1: #e1e1e1;
$cl-81: #818181;
$cl-ac: #acacac;
$cl-f0: #f0f0f0;
$cl-96: #969696;
$cl-light: #e6f0f7;
$cl-f7_as: #f7f8f9;
$cl-d6: #6d6d6d;
$cl-43: #434345;
$cl-band-yellow: #ffc72a;
$cl-band-green: #76bd22;
$cl-band-blue: #009bdf;
$cl-band-red: #d8292f;
$cl-band-black: #343434;
$cl-gray-73: #737474;
$cl-gray-89: #898989;
$cl-bb: #bbbbbb;
$cl-70: #707070;
$cl-ad: #adadad;
$cl-3c: #3c3c3c;
$cl-26: #262626;
$cl-b7: #b7b7b7;
$cl-45: #454a4d;
$cl-b2: #b2b2b2;

/* Border */
$border-blue: 1px solid $cl-blue;
$border-blue-dark: 1px solid $cl-blue-dark;
$border-f5: 1px solid $cl-f5;
$border-orange: 1px solid $cl-orange;
$border-d6: 1px solid $cl-d6;
$border-gray-89: 1px solid $cl-gray-89;
