   <div id="js_main-menu">
                        <ul class="list-main-menu" id="js_list-main-menu">
                            <li class="menu-item has-submenu active">
                                <a href="#" class="menu-link" title="Trang chủ">
                                    <span class="dropdown-toggle">Chương trình học</span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="menu-item has-submenu">
                                        <a href="{{'chuongtrinhhoc'|page}}" class="menu-link" title="">
                                            <span>Chương trình đào tạo</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="{{ 'chuongtrinhhoc'|page}}" class="menu-link" title="">
                                            <span>Đai trắng</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="{{ 'chuong-trinh-hoc'|page({slug:'dai-vang'})}}" class="menu-link" title="">
                                            <span>Đai vàng</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="{{ 'chuong-trinh-hoc'|page({slug:'dai-xanh-la-cay'})}}" class="menu-link" title="">
                                            <span>Đai xanh lá cây</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="{{ 'chuong-trinh-hoc'|page({slug:'dai-xanh-da-troi'})}}" class="menu-link" title="">
                                            <span>Đai xanh da trời</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="{{ 'chuong-trinh-hoc'|page({slug:'dai-do'})}}" class="menu-link" title="">
                                            <span>Đai đỏ</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="{{ 'chuong-trinh-hoc'|page({slug:'dai-den'})}}" class="menu-link" title="">
                                            <span>Đai đen</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item has-submenu">
                                <a href="#" class="menu-link" title="Giới thiệu">
                                    <span class="dropdown-toggle">Học phí</span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="{{ 'hoc-phi'|page}}" class="menu-link" title="">
                                            <span>Bảng học phí</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="{{ 'hoc-bong'|page}}" class="menu-link" title="">
                                            <span>Học bổng / Khuyến học</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="{{'cach-hoc'|page }}" class="menu-link" title="Món ăn">
                                    <span>Cách học</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="{{'mentor'|page }}" class="menu-link has-arrow" title="Thực đơn nổi bật">
                                    <span>Mentor tiêu biểu</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-link" title="Tin tức">
                                    <span>Vào lớp học</span>
                                </a>
                            </li>
                            <li class="menu-item has-submenu">
                                <a href="#" class="menu-link" title="Liên hệ">
                                    <span class="dropdown-toggle">Giới thiệu</span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="{{ 'gioi-thieu'|page({slug:'ve-xiso'})}}" class="menu-link" title="">
                                            <span>Về chúng tôi</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="{{ 'gioi-thieu'|page({slug:'hop-tac-hocmai-funix'})}}" class="menu-link" title="">
                                            <span>Hợp tác HOCMAI - FUNiX</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item d-lg-none d-block">
                                <a href="{{'hoidap'|page }}" title="QA">Hỏi đáp</a>
                            </li>
                        </ul>
                    </div>